# MSBA 605-01 - Python for Analytics
## Problem Solving Exercise 1
### Logisitics
1. Get into your weekly group.
1. Discuss and complete the assignment __together__. Don’t just assign different problems to each teammate! That defeats the purpose of team-based learning.
1. Choose a recorder to prepare the final copy to submit to instructor in Blackboard. __Only one person needs to submit__ on behalf of the team.
2. Remember format of the output matters.

__Names of group members__: Achara Exam review<br>
__Due__: Thursday (by 11:59 PM)

Add your code to the cells below. When finished, be sure to save your notebook, then _Close and Shutdown Notebook_ from the _File_ menu. Return to Blackboard and have recorder upload your completed Notebook file (`PSE1.ipynb`) on behalf of the group.

## Part 1

### Problem 1 (1 point)
- Assign `3` to a variable named `a` and `2` to a variable named `b`. Print the `type` of these variables. 
- Use the is operator to check if a and b refer to the same object.

In [8]:
a = 3
b = 2
datatype1 = f' This is an {type(a)} data type'
datatype2 = f' This is an {type(b)} data type'
print(datatype1)
print(datatype2)
a == b

 This is an <class 'int'> data type
 This is an <class 'int'> data type

False

### Problem 2 (2 points)

A company charged a fixed platform fee of $100$ for a $900$ service. The service is for 5 users. Write a program to compute the per user cost with two decimal digits.

In [9]:
platform_fee = 100
service_cost = 900
num_users = 5

# Total cost
total_cost = platform_fee + service_cost

# Per user cost
per_user_cost = total_cost / num_users

# Display result with two decimal places
print(f"Per user cost: ${per_user_cost:.2f}")

Per user cost: $200.00

### Problem 3 (2 points)

Ask user to enter the name, number of units sold, and unit price for two different products. Calculates the total revenue for each product. Print the information in a table like manner  using f-strings. The output should look like this.

Product: Shoes, Units: xx, Unit Price: $xxx.xx, Revenue: $xxxx.xx

Product: Bags, Units: xx, Unit Price: $xxx.xx, Revenue: $xxxx.xx

In [18]:
product1= input('product name: ')
unit = float(input('Number of Units sold: '))
unit_price = float(input('Unit price: '))
total_revenue = f""" Product = {product1}, Units = {unit:.2f}, Unit Price = {unit_price:.2f}, Revenue = {unit * unit_price:.2f}
"""
print(total_revenue)

product2= input('product name: ')
unit = float(input('Number of Units sold: '))
unit_price = float(input('Unit price: '))
total_revenue = f""" Product = {product1}, Units = {unit:.2f}, Unit Price = {unit_price:.2f}, Revenue = {unit * unit_price:.2f}
"""
print(total_revenue)

product name:  SHeo
Number of Units sold:  75379
Unit price:  83758

 Product = SHeo, Units = 75379.00, Unit Price = 83758.00, Revenue = 6313594282.00

product name:  sydvisyv
Number of Units sold:  263582
Unit price:  2582.823752

 Product = SHeo, Units = 263582.00, Unit Price = 2582.82, Revenue = 680785850.20

### Problem 4a (1 point)
In the code cell below, write a Python script that creates a tuple named `time_tuple` that represents an _hour_ (integer from 0-23 inclusive), _minute_ (integer from 0-59 inclusive), and _second_ (integer from 0-59 inclusive) in its 3 elements. Set it for the time 9:16:01 AM. Use the tuple's elements to calculate the number of seconds since midnight, accessing each value using its index `[0]`, `[1]`, [`2]`. Remember, each hour is 3600 seconds and each minute is 60 seconds. Print the `time_tuple` and its number of seconds since midnight.

In [19]:
# Create the time tuple for 9:16:01 AM
time_tuple = (9, 16, 1)

# Calculate seconds since midnight
seconds_since_midnight = time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

# Print the results
print("Time tuple:", time_tuple)
print("Seconds since midnight:", seconds_since_midnight)

Time tuple: (9, 16, 1)
Seconds since midnight: 33361

### Problem 4b  (1 point)
In the code cell below, write a Python script that unpacks the elements of the `time_tuple` defined above into the variables named `hour`, `minute`, and `second` using one unpacking assignment statement. Repeat the calculation of the number of seconds since midnight, now using the variables you unpacked from the tuple. Print variables' values and the number of seconds since midnight.

In [20]:
# Define the time tuple
time_tuple = (9, 16, 1)

# Unpack the tuple into variables
hour, minute, second = time_tuple

# Calculate seconds since midnight
seconds_since_midnight = hour * 3600 + minute * 60 + second

# Print the results
print("Hour:", hour)
print("Minute:", minute)
print("Second:", second)
print("Seconds since midnight:", seconds_since_midnight)

Hour: 9
Minute: 16
Second: 1
Seconds since midnight: 33361

## Problem 5 (3 points)

In the code cell below, write a Python script that creates a list called `sales` containing the monthly sales   

```python
sales = [120, 150, 170, 200, 180, 160, 190, 210, 230, 250]

Then perform the following separate slice operations to obtain:

a. The first half of the list using starting and ending indices.
b. The first half of the list using only the ending index.
d. The second half of the list using only the starting index.
e. Every second month’s sales starting with the first month.
f. The sales list in reverse order.

In [22]:
sales = [120, 150, 170, 200, 180, 160, 190, 210, 230, 250]

sales[0:5]

[120, 150, 170, 200, 180]

In [23]:
sales[:5]

[120, 150, 170, 200, 180]

In [25]:
sales[5:]

[160, 190, 210, 230, 250]

In [26]:
sales[::2]

[120, 170, 180, 190, 230]

In [28]:
sales[::-1]

[250, 230, 210, 190, 160, 180, 200, 170, 150, 120]