# MSBA 605-01 - Python for Analytics
## Problem Solving Exercise 4 Part a 
### Logisitics
1. Get into your weekly group.
1. Discuss and complete the assignment __together__. Don’t just assign different problems to each teammate! That defeats the purpose of team-based learning.
1. Choose a recorder to prepare the final copy to submit to instructor in Blackboard. __Only one person needs to submit__ on behalf of the team.

__Names of group members__: Ugochukwu Achara, Thylia Watson, Samuel Ibikunle


Add your code to the cells below. When finished, be sure to save your notebook, then _Close and Shutdown Notebook_ from the _File_ menu. Return to Blackboard and have recorder upload your completed Notebook file (`PSE3.ipynb`) on behalf of the group.

## 1. Using the dataset, calculate total spending and average transaction per customer across all years. [1 POINT]

In [12]:
import pandas as pd
df.head()

   Name    Year  Quarter  Transaction  Spent  Refunded
0  Jane  2021.0      4.0          1.0   31.0       NaN
1  Jane  2021.0      4.0          1.0   31.0       NaN
2  Jane  2022.0      1.0          1.0   53.0       NaN
3  Jane     NaN      NaN          2.0   41.0       NaN
4  Jane     NaN      2.0          1.0   37.0       NaN

In [2]:
df=pd.read_excel(r"CustomerBehavior2.xlsx")

spending = (df.groupby("Name")
                   .agg(Total_spending=("Spent","sum"),
                        Avg_Transaction= ("Transaction","mean")))
print(spending)

        Total_spending  Avg_Transaction
Name
Adam             105.0         2.000000
George           190.0         1.333333
Jane             193.0         1.200000
Sally            196.0         1.200000
Trish             41.0         1.000000

## 2. Analyze the total Spent for each Customer and Quarter. Replace 0 for missing quarters and add a total column for each customer. [1 point]

In [33]:
spending = pd.pivot_table(
    df,
    values="Spent",
    index = "Name",
    columns = "Quarter",
    fill_value= 0,
    aggfunc= "sum",
    margins=True, 
    margins_name="Total"
)
print(spending)

Quarter    1.0   2.0    3.0    4.0  Total
Name
Adam       0.0   0.0   32.0    0.0   32.0
George    35.0   0.0   43.0  112.0  190.0
Jane      53.0  37.0    0.0   62.0  152.0
Sally     44.0  45.0   57.0   50.0  196.0
Trish      0.0   0.0   41.0    0.0   41.0
Total    132.0  82.0  173.0  224.0  611.0

## 3. Analyze the count of how many transactions occurred per Year and Quarter. Show each quarter’s percentage contribution to that year’s total transactions. [1.5 point]

In [67]:
xt = pd.crosstab(df["Year"], 
                df["Quarter"],
                margins= True,
                margins_name="Total")
print(xt,'\n')
xt_prop = pd.crosstab(df["Year"], 
                df["Quarter"],
                      margins= True,
                      margins_name="Total",
                      normalize="columns").round(2)

print(xt_prop)

Quarter  1.0  3.0  4.0  Total
Year
2021.0     0    0    5      5
2022.0     3    2    0      5
Total      3    2    5     10

Quarter  1.0  3.0  4.0  Total
Year
2021.0   0.0  0.0  1.0    0.5
2022.0   1.0  1.0  0.0    0.5

## 4. Generate a grouped summary showing total Spent by each Customer over the Years. Then display the years as columns and customers as rows. Finally, bring it back to its original long form. [1.5 point]

In [9]:
by_region_product = df.groupby(["Year","Name"])["Spent"].sum()
print(by_region_product)

print("\nAs flat columns:")
print(by_region_product.reset_index())

Year    Name
2021.0  George    112.0
        Jane       62.0
        Sally      50.0
2022.0  Adam       32.0
        George     35.0
        Jane       53.0
        Sally      44.0
        Trish      41.0
Name: Spent, dtype: float64

As flat columns:
     Year    Name  Spent
0  2021.0  George  112.0
1  2021.0    Jane   62.0
2  2021.0   Sally   50.0
3  2022.0    Adam   32.0
4  2022.0  George   35.0
5  2022.0    Jane   53.0
6  2022.0   Sally   44.0
7  2022.0   Trish   41.0