## Notes
# Output text in python using print()
# Comment lines are marked by symbol "#"
# you can create cells above another using A and below another using B

# ***Before you start***


**Learning by Doing**

Python, like most skills, is mastered through practice. Don't be afraid to experiment with commands; it's unlikely you'll cause any harm. Print outputs, check variable values, and keep trying until it works.

**Debugging**

When your code fails, avoid blaming the computer. It's almost always a mistake in your code. Luckily, error messages provide clues. Read them carefully and try to understand the issue.

**Leverage the Internet**

If you're unsure how to accomplish something, turn to Google. You'll be surprised how many solutions you'll find by simply searching for "python [your task]".

# **Remember Zed's sage wisdom:**
- Practice every day.
- Don't over-do it. Slow and steady wins the race.
- It's alright to be totally lost at first.
- When you get stuck, get more information.
- Try to solve it yourself first.

# Your 1st program

In [2]:
print("Hello, Welcome to the Course MSBA 605")
print("let's play football")
# print is a reserved word in Python

Hello, Welcome to the Course MSBA 605
let's play football

In [25]:
#write a program to get a string 3, 2, 1 Go!
print('3, 2, 1 Go!')
# print in same line
print('Hi!', end=' ' )
print('we are in UOFL')

3, 2, 1 Go!
Hi! we are in UOFL

In [9]:
#printing with newline
print(10,'\n',  9 , '\n', 8)
print(1,'\n',2,'\n',3)
print('a\nb\nc')

10
 9
 8
1
 2
 3
a
b
c

# Variables

Variable Names or Identifiers

- Should start with letterand can contain any sequence of further letters, numbers and underscores.
- Avoid starting with underscore, numbers etc, leads to confusion
- Is case sensitive.
- Should not contain space or special characters.
- Should not be a keyword.

*Can start with double underscore e.g. __init__, but should be avoided as they have special use.

- In a program, a variable is generally a named item like, "item", 'x', 'age' etc, which used to hold a value.
- Example: x = 5 ::The variable is assigned a value by an assignment statement i.e. x = 5. In this case x holds the value 5 for the following statements untill it is reassigned.
- The left side of an assignment statement must be a variable. The right side can be a value or an expression.


'=' is not equals to: x = y should be read as the value of y is assigned to x.

#### Data Types
- what is the type of data a variable can hold
- transformations you can perform on your data

In [3]:
# Integers
a = 10
print(type(a))# Integers
# Float
b=3.8
print(type(b))
# String 
d='Hello'
print(type(d))
# Boolean - Conditional
f=False
print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [23]:
a+b

13.8

In [7]:
e = "guys"
d+ e + ""+" let's do some coding"

"Helloguys let's do some coding"

# Assignment is not equivalent to "equal to"

In [13]:
x = 2
print(x)
x = x + 3
print(x)

2
5

In [14]:
# Incorrect use of assignment
#x = 5
x = y + x + 1
print(x)

6

In [11]:
#printing with multiple data types

weight=70
height=6
str2="mary weights"
str3='and she is'
print(str2+'',weight,'kg', str3+ '',height,''+'ft tall.')

mary weights 70 kg and she is 6 ft tall.

# Taking user inputs

In [15]:
## basic input command
age=input("please enter your age: ")
print('my age is ',age)

please enter your age:  twenty

my age is  twenty

In [19]:
#basic input
var_wage=input("insert hourly wage: ")
print('hourly wage is: ',var_wage)

insert hourly wage:  20

hourly wage is:  20

In [20]:
# Cannot concatenate because they are two different data types
var_wage+5

TypeError: can only concatenate str (not "int") to str

In [15]:
print(type(var_wage))

<class 'str'>

In [9]:
# whatever you type converted into string
# Specity datatype to change it to that eg Int(), float(), Boolean()

var_wage=int(input("insert hourly wage: "))
print('new wage is: ',var_wage+5)

insert hourly wage:  25

new wage is:  30

In [21]:
# doesn't make sense because you can't add letters to numbers
# Computer doesn't make sense of it either
x='abc'
print('x is:', int(x)+5)

ValueError: invalid literal for int() with base 10: 'abc'

In [22]:
print(int(input())+int(input())+int(input()))

 5
 5
 5

15

In [ ]:
x = 6
print(x)

# Expressions on the right side. 
# So variables can be both in left and right side.
y = x*2
print (y)
x = x+1
print(x)

6
12
7

- Example 1:

      Write a program that takes input for last monthâ€™s sales revenue, assigns it to a variable, then projects sales if they grow by 2.5 times. Print both the original and projected sales.

In [25]:
sales_rev = float(input("Sales Revenue for last month: "))
projected_sales = sales_rev * 2.5
print(sales_rev)
print(projected_sales)

Sales Revenue for last month:  100

100.0
250.0

In [ ]:
# address of the variable can be accessed through id()

x = 3*2
print (x)
print (id(x))
x = x +5
print(id(x))

6
138885743985040
138885743985200

In [30]:
# Be careful about overflow
# In Python, overflow refers to a situation where a calculation produces a number that is too large (or too small) 
# to be represented within the limits of a particular data type or system resource.

a=20e103
b = a *10
print(b)

2e+105

# F strings

###  Within the f-string (denoted by the 'f' prefix), curly braces {} act as placeholders for variables or expressions. The values of variables are seamlessly inserted into the string, producing a formatted output.

In [12]:
name = "Alice"
age = 30

greeting = f"Hello, {name}! You are {age} years old."
print(greeting)  # Output: Hello, Alice! You are 30 years old.

Hello, Alice! You are 30 years old.

In [13]:
# -strings permit the evaluation of expressions directly within the curly braces.
width = 10
height = 5

area = f"The area of the rectangle is {width * height}."
print(area)

The area of the rectangle is 50.

In [34]:
item = "apple"
price = 0.99
quantity = 3
# """ allows multiple line f strings
receipt = f"""
Item: {item}
Price: ${price:.1f}
Quantity: {quantity}
Total: ${price * quantity:.1f}
"""

print(receipt)

Item: apple
Price: $1.0
Quantity: 3
Total: $3.0

# Arithmetic Expressions

  # Precedence (PEMDAS)
     1) Paranthesis () : (x - 2) * 3 => (x-2) will be evaluated first
     2) Exponent ** : 2 + 4**2 = 18
     3) Unary Minus - : 2 * -y => y will be computed first  
     4) Mul and Div *, / , // , % (equal precedence for these) : 3 - 4 / 2 = 1
     5) Add and Sub +, -
     6) left to right evaluation : 2 * 6 / 4 => 2*6 is evaluated first
     7) ** is evaluated right to left


     # Compound operators
       1) x +=1 ~ x = x+1 (same format for -)
       2) x *=5 ~ x = x*5 (same format for /)
       3) x %=2 ~ x = x%2
  
 - Exercise 3
         Calculate calorie wit the formula: time in minutes / 4 multiplied with (years times 0.2017 + weight times 0.9036 + heartrate times 0.6309 -55.0969

In [32]:
 x = 21
 print(x % 3)
 (21//5)*5

0

20

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

## A store has 107 items, and each box can hold 12 items. How many full boxes can we pack? How many items are left unpacked?

In [34]:
total_items = 107
items_per_box = 12
full_boxes = f' We can pack {total_items//box} full boxes'
print(full_boxes)
leftover_items = f' We have {total_items%box} items left over'
print(leftover_items)

 We can pack 8 full boxes
 We have 11 items left over