# MSBA 605-77 - Python for Analytics
## GA3_PARTB

__Group member Names__: Ugochukwu Achara, Thylia Watson, Samuel Ibikunle
__Worth__: 5 pts.<br />
__Purpose__: Data cleaning

Add your code to the cells below. When finished, be sure to save your notebook, then _Close and Shutdown Notebook_ from the _File_ menu. Return to Blackboard and upload your completed Notebook file (`Prog4.ipynb`).

In [54]:
import pandas as pd
import numpy as np

# Create a sample dataset with missing values, duplicates, and errors
data = {
    'Customer_ID': [101, 102, 103, 104, 105, 106, 106, 107, 108, np.nan],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Frank', 'Grace', 'Hannah', 'Ivy'],
    'Age': [25, 30, np.nan, 22, np.nan, 35, 35, 29, 24, 28],
    'City': ['New York', 'London', 'Paris', 'Tokyo', 'Berlin', 'Paris', 'Paris', 'London', 'Tokyo', 'Berlin'],
    'Purchase_Amount': [120.5, 340.0, np.nan, 560.75, 450.25, np.nan, 340.0, 230.0, 500.5, 320.25]
}

df = pd.DataFrame(data)
print(df)

   Customer_ID     Name   Age      City  Purchase_Amount
0        101.0    Alice  25.0  New York           120.50
1        102.0      Bob  30.0    London           340.00
2        103.0  Charlie   NaN     Paris              NaN
3        104.0    David  22.0     Tokyo           560.75
4        105.0      Eve   NaN    Berlin           450.25
5        106.0    Frank  35.0     Paris              NaN
6        106.0    Frank  35.0     Paris           340.00
7        107.0    Grace  29.0    London           230.00
8        108.0   Hannah  24.0     Tokyo           500.50
9          NaN      Ivy  28.0    Berlin           320.25

# Tasks

1- Remove any rows where the 'Customer_ID' is missing, as this is a critical column. Drop any other rows where two or more columns have missing values. (1 point)

2- Fill the missing 'Age' values with the mean age of the customers. Fill missing 'Purchase_Amount' values with the median purchase amount.  (1 point)

3- Identify and remove duplicate rows based on the 'Customer_ID' and 'Name' columns. (1 point)

4- Replace all instances of 'Paris' in the 'City' column with 'FR-Paris'  Any negative or incorrect values for the 'Age' or 'Purchase_Amount' should be replaced with np.nan. (1 point)

5- Set the 'Customer_ID' as the new index. (1 point)

In [55]:
#1
df=df.dropna(subset=['Customer_ID'])
df = df.dropna(thresh=4)
print(df)

   Customer_ID    Name   Age      City  Purchase_Amount
0        101.0   Alice  25.0  New York           120.50
1        102.0     Bob  30.0    London           340.00
3        104.0   David  22.0     Tokyo           560.75
4        105.0     Eve   NaN    Berlin           450.25
5        106.0   Frank  35.0     Paris              NaN
6        106.0   Frank  35.0     Paris           340.00
7        107.0   Grace  29.0    London           230.00
8        108.0  Hannah  24.0     Tokyo           500.50

In [59]:
#2
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Purchase_Amount']=df['Purchase_Amount'].fillna(df['Purchase_Amount'].median())
print(df)

   Customer_ID    Name        Age      City  Purchase_Amount
0        101.0   Alice  25.000000  New York       120.500000
1        102.0     Bob  30.000000    London       340.000000
3        104.0   David  22.000000     Tokyo       560.750000
4        105.0     Eve  28.571429    Berlin       450.250000
5        106.0   Frank  35.000000  FR-Paris       363.142857
7        107.0   Grace  29.000000    London       230.000000
8        108.0  Hannah  24.000000     Tokyo       500.500000

In [57]:
#3
print(df['Customer_ID'].unique(), '\n')
print(df['Name'].unique(), '\n')
df=df.drop_duplicates(['Name'])
print(df)

[101. 102. 104. 105. 106. 107. 108.]

['Alice' 'Bob' 'David' 'Eve' 'Frank' 'Grace' 'Hannah']

   Customer_ID    Name        Age      City  Purchase_Amount
0        101.0   Alice  25.000000  New York       120.500000
1        102.0     Bob  30.000000    London       340.000000
3        104.0   David  22.000000     Tokyo       560.750000
4        105.0     Eve  28.571429    Berlin       450.250000
5        106.0   Frank  35.000000     Paris       363.142857
7        107.0   Grace  29.000000    London       230.000000
8        108.0  Hannah  24.000000     Tokyo       500.500000

In [60]:
#4
df['City']=df['City'].replace('Paris','FR-Paris')
print(df)
# Can't change Age or purchase about becuase it does not have Na

   Customer_ID    Name        Age      City  Purchase_Amount
0        101.0   Alice  25.000000  New York       120.500000
1        102.0     Bob  30.000000    London       340.000000
3        104.0   David  22.000000     Tokyo       560.750000
4        105.0     Eve  28.571429    Berlin       450.250000
5        106.0   Frank  35.000000  FR-Paris       363.142857
7        107.0   Grace  29.000000    London       230.000000
8        108.0  Hannah  24.000000     Tokyo       500.500000

In [61]:
#5
print(df.set_index('Customer_ID'),'\n')

               Name        Age      City  Purchase_Amount
Customer_ID
101.0         Alice  25.000000  New York       120.500000
102.0           Bob  30.000000    London       340.000000
104.0         David  22.000000     Tokyo       560.750000
105.0           Eve  28.571429    Berlin       450.250000
106.0         Frank  35.000000  FR-Paris       363.142857
107.0         Grace  29.000000    London       230.000000
108.0        Hannah  24.000000     Tokyo       500.500000