# MSBA 605-01 - Python for Analytics
## Problem Solving Exercise 2
### Logisitics
1. Get into your weekly group.
1. Discuss and complete the assignment __together__. Don’t just assign different problems to each teammate! That defeats the purpose of team-based learning.
1. Choose a recorder to prepare the final copy to submit to instructor in Blackboard. __Only one person needs to submit__ on behalf of the team.
2. Remember format of the output matters.

__Names of group members__: Ugochukwu Achara, Samuel Ibikunle, Thylia Watson<br>
__Due__: Thursday (by 11:59 PM)

Add your code to the cells below. When finished, be sure to save your notebook, then _Close and Shutdown Notebook_ from the _File_ menu. Return to Blackboard and have recorder upload your completed Notebook file (`PSE1.ipynb`) on behalf of the group.

### Problem 1 (2 points)
In the code cell below, write a Python script that inputs an integer dollar amount (from 1 - 99 for this application) to be withdrawn from our virtual ATM. You may assume that the user follows your directions for the input (namely, entering an integer between 1 and 99 inclusive). Calculate and print the number of bills of each denomination (twenties, tens, fives, and ones) that should be dispensed, minimizing the total number of bills used. Start with twenties and work your way down to ones. If no bills of a particular denomination are needed, skip that bill in the output using `if` statements. (10 pts.)
### Sample Output
<pre>
Welcome to the Virtual ATM!
Enter integer dollar amount (1 - 99): 94
    
Dispense:
4 twenties
1 tens
4 ones
</pre>

**Hint**: No _fives_ are printed in the above example because the entered dollar amount didn't require any. Your code, however, must include logic for every denomination (twenties, tens, fives, and ones). An easy way to approach this problem is with the use of floor division (`//`) and remainder (`%`) operations. In this example, the number of twenties needed is `94 // 20`, which gives 4. The remaining amount to be dispensed then is `94 % 20`, which is 14. The number of tens needed then is `14 // 10`, which gives 1. The remaining amount to be dispensed then is `14 % 10`, which is 4. The number of fives needed then is `4 // 5`, which gives 0 (so skip the output). The remaining amount to be dispensed then is `4 % 5`, which is still 4  but we know that should be dispensed as ones (since it's the lowest denomination left).

In [56]:
print("Welcome to the Virtual ATM!")
amount = int(input("Enter integer dollar amount (1 - 99): "))
print("\nDispense:")
twenties = amount // 20  
amount = amount - (twenties * 20) 
tens = amount // 10
amount = amount - (tens * 10)
fives = amount // 5
amount = amount - (fives * 5)
ones = amount
if twenties > 0:
    print(twenties, "twenties")
if tens > 0:
    print(tens, "tens")
if fives > 0:
    print(fives, "fives")
if ones > 0:
    print(ones, "ones")

Welcome to the Virtual ATM!

Enter integer dollar amount (1 - 99):  36

Dispense:
1 twenties
1 tens
1 fives
1 ones

### Problem 2 (1 point)
In the code cell below, write a Python script that calculates the square and cube of each of the numbers from 1 to 10 (inclusive) using a `for` or `while` loop. Print the resulting values in tablular format, as shown below. Use the tab escape sequence (`\t`) to insert a tab between each value to achieve the 3-column output.
#### Sample Output
```
Num	Square	Cube
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125
6	36	216
7	49	343
8	64	512
9	81	729
10	100	1000
```

In [51]:
print("Num\tSquare\tCube")
for numbers in range(1,11):
    print (f" {numbers}\t{numbers** 2} \t {numbers** 3}")

Num	Square	Cube
 1	1 	 1
 2	4 	 8
 3	9 	 27
 4	16 	 64
 5	25 	 125
 6	36 	 216
 7	49 	 343
 8	64 	 512
 9	81 	 729
 10	100 	 1000

## Problem 3 (2 points)

You are given a list of sales amounts (in USD): sales = [80, 120, 95, 150, 220, 60, 175]. 
Keep only sales above $100 and apply a 5% tax to each of them. Store the tax-inclusive values in a new list called `with_tax`. Finally, print both the `with_tax` list and the total sales from this list.

In [12]:
sales = [80, 120, 95, 150, 220, 60, 175]
with_tax = []

for sale in sales:
    if sale > 100:
        with_tax.append(sale * 1.05)
        total = sum(with_tax)
print(f"Sale with tax: {with_tax} \nTotal Sale:{total}")

Sale with tax: [126.0, 157.5, 231.0, 183.75]
Total Sale:698.25

### Problem 4 (1.5 points)
In the code cell below, write a Python script that uses a <u>list comprehension</u> to filter the range of integers from 1 through 10 (inclusive) to keep only the <u>odd numbers</u> in the range. Print the result.

In [52]:
odd_numbers = [numbers for numbers in range(1,11) if numbers % 2 != 0]
print("Odd Numbers:",odd_numbers)

Odd Numbers: [1, 3, 5, 7, 9]

### Problem 5 (1.5 points)
In the code cell below, write a Python script that uses a <u>dictionary comprehension</u> to create a dictionary named `months2` that swaps the keys and values of the dictionary named `months` that is below. Now, for example, `1` would be a key and `'January'` would be its associated value, `2` would be a key and `'February'` would be its associated value, etc. Print the dictionary.

months = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}

In [61]:
months = { 'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12 }
months2 = {value : key for key,value in months.items()}
print ("Months:", months2)

Months: {1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June', 7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'}

## Question 6  (2 ponits)

You are given a list of **raw customer records** containing messy text data.  
Each record has the format:  
`"<Name> , <Email> , <City>"`

1. Create a new list called `cleaned_records`, where each record is a **dictionary** with keys:
   - `"name"` → cleaned and title cased name  
   - `"email"` → lowercase email, stripped of spaces  
   - `"city"` → title cased city name  
2. Extract only the **domain** part (text after `@`) from each email and store it in a new list called `email_domains`.
3. Print both `cleaned_records` and `email_domains`.

Hint: Use **string methods** (`.strip()`, `.lower()`, `.title()`, `.split()`, `.replace()`, etc.) and **list comprehensions** or simple loops.

[{'name'}]

In [6]:
raw_records = [
    " alice  , ALICE@Example.COM ,  new york ",
    "BOB SMITH,  bob.smith@Gmail.Com,los angeles",
    "   charlie,CHARLIE@Yahoo.com,  chicago"
]

# cleaned_records using a list comprehension (used chatgot to figure how to use the functions to clean the data as well as what .title and .replace does)
cleaned_records = [
    {
        "name": name.strip().title(),
        "email": email.strip().lower(),
        "city": city.strip().title()
    }
    for name, email, city in [customer_info.split(",") for customer_info in raw_records]
]

# Extract email domains using another list comprehension
email_domains = [customer_info["email"].split("@")[1] for customer_info in cleaned_records]

# Print results
print("Cleaned Records:",cleaned_records)
print("\nEmail Domains:",email_domains)

Cleaned Records: [{'name': 'Alice', 'email': 'alice@example.com', 'city': 'New York'}, {'name': 'Bob Smith', 'email': 'bob.smith@gmail.com', 'city': 'Los Angeles'}, {'name': 'Charlie', 'email': 'charlie@yahoo.com', 'city': 'Chicago'}]

Email Domains: ['example.com', 'gmail.com', 'yahoo.com']