# MSBA 605-01 - Python for Analytics
## Problem Solving Exercise 1
### Logisitics
1. Get into your weekly group.
1. Discuss and complete the assignment __together__. Don’t just assign different problems to each teammate! That defeats the purpose of team-based learning.
1. Choose a recorder to prepare the final copy to submit to instructor in Blackboard. __Only one person needs to submit__ on behalf of the team.
2. Remember format of the output matters.

__Names of group members__: Ugochukwu Achara, Thylia Watson, Samuel Ibikunle<br>
__Due__: Thursday (by 11:59 PM)

Add your code to the cells below. When finished, be sure to save your notebook, then _Close and Shutdown Notebook_ from the _File_ menu. Return to Blackboard and have recorder upload your completed Notebook file (`PSE1.ipynb`) on behalf of the group.

## Part 1

### Problem 1 (1 point)
- Assign `3` to a variable named `a` and `2` to a variable named `b`. Print the `type` of these variables. 
- Use the is operator to check if a and b refer to the same object.

In [42]:
a = 3
b = 2
print (type(a))
print (type(b))
a is b

<class 'int'>
<class 'int'>

False

### Problem 2 (2 points)

A company charged a fixed platform fee of $100$ for a $900$ service. The service is for 5 users. Write a program to compute the per user cost with two decimal digits.

In [43]:
fixed_platform_fee = 100
service_charge = 900
users = 5
per_user_cost = f"{(service_charge - fixed_platform_fee)/ users:.2f}"
print (per_user_cost)

160.00

### Problem 3 (2 points)

Ask user to enter the name, number of units sold, and unit price for two different products. Calculates the total revenue for each product. Print the information in a table like manner  using f-strings. The output should look like this.

Product: Shoes, Units: xx, Unit Price: $xxx.xx, Revenue: $xxxx.xx

Product: Bags, Units: xx, Unit Price: $xxx.xx, Revenue: $xxxx.xx

In [45]:
# Product 1
Product = input("Name of Product:")
units_sold = int(input("Number of Units sold:")) 
unit_price =  float(input("Unit price:"))
revenue = f"""
Product: {Product}, Units: {units_sold}, Unit price: ${unit_price:.2f}, Revenue: ${unit_price * units_sold:.2f}
"""
print (revenue)

# Product 2
Product = input("Name of Product:")
units_sold = int(input("Number of Units sold:")) 
unit_price =  float(input("Unit price:"))
revenue = f"""
Product: {Product}, Units: {units_sold}, Unit price: ${unit_price:.2f}, Revenue: ${unit_price * units_sold:.2f}
"""
print (revenue)

Name of Product: Watches
Number of Units sold: 100
Unit price: 1000

Product: Watches, Units: 100, Unit price: $1000.00, Revenue: $100000.00

Name of Product: Computers
Number of Units sold: 10
Unit price: 2500

Product: Computers, Units: 10, Unit price: $2500.00, Revenue: $25000.00

### Problem 4a (1 point)
In the code cell below, write a Python script that creates a tuple named `time_tuple` that represents an _hour_ (integer from 0-23 inclusive), _minute_ (integer from 0-59 inclusive), and _second_ (integer from 0-59 inclusive) in its 3 elements. Set it for the time 9:16:01 AM. Use the tuple's elements to calculate the number of seconds since midnight, accessing each value using its index `[0]`, `[1]`, [`2]`. Remember, each hour is 3600 seconds and each minute is 60 seconds. Print the `time_tuple` and its number of seconds since midnight.

### Problem 4b  (1 point)
In the code cell below, write a Python script that unpacks the elements of the `time_tuple` defined above into the variables named `hour`, `minute`, and `second` using one unpacking assignment statement. Repeat the calculation of the number of seconds since midnight, now using the variables you unpacked from the tuple. Print variables' values and the number of seconds since midnight.

In [20]:
## problem 4a
time_tuple=(9,16,1)
print (time_tuple)

(9, 16, 1)

In [1]:
## problem 4b
# Creation of tuplee
time_tuple=(9,16,1)

# defining variiables
h,m,s = time_tuple

Time_sec=((time_tuple[0]*3600)+(time_tuple[1]*60)+time_tuple[2])
print(Time_sec,"Seconds")

33361 Seconds

## Problem 5 (3 points)

In the code cell below, write a Python script that creates a list called `sales` containing the monthly sales   

```python
sales = [120, 150, 170, 200, 180, 160, 190, 210, 230, 250]

Then perform the following separate slice operations to obtain:

a. The first half of the list using starting and ending indices.
b. The first half of the list using only the ending index.
c. The second half of the list using only the starting index.
d. Every second month’s sales starting with the first month.
e. The sales list in reverse order.

In [25]:
sales= [120,150,170,200,180,160,190,210,230,250]

[120, 150, 170, 200, 180, 160, 190, 210, 230]

In [28]:
# Question A
sales[0:5]

[120, 150, 170, 200, 180]

In [30]:
# Question B
sales[:-5]

[120, 150, 170, 200, 180]

In [32]:
# Question C
sales[5:]

[160, 190, 210, 230, 250]

In [33]:
# Question D
sales[0::2]

[120, 170, 180, 190, 230]

In [38]:
# Question E
sales[::-1]

[250, 230, 210, 190, 160, 180, 200, 170, 150, 120]